asgiref
certifi
cffi
charset-normalizer
contourpy
cryptography
cycler
defusedxml
Django
django-allauth
fonttools
huepy
idna
Jinja2
kiwisolver
livereload
markdown2
MarkupSafe
matplotlib
npm
numpy
oauthlib
optional-django
packaging
pillow
pip
pycparser
Pygments
PyJWT
pyparsing
python-dateutil
python-decouple
python3-openid
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
tornado
tzdata
urllib3
vite
